* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    background-color: lightgray;
    padding: 16px 0;
    color: black;
    display: flex;
    justify-content: center;
}

form {
    background-color: lightgrey;
    padding: 24px 0;
    text-align: center;
}

input, button {
    padding: 8px;
}

button {
    background-color: lightgray;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

ul li {
    background-color: lightgray;
    color: black;
}
